<ngx-spinner
  bdColor="rgba(0,0,0,0.64)"
  size="medium"
  color="#71efa5"
  type="square-jelly-box"
  [fullScreen]="false"
  z-index="9999"
>
  <p style="color: white">Users are loading...</p>
</ngx-spinner>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <ng-container matColumnDef="admin">
    <th mat-header-cell *matHeaderCellDef>ADMIN</th>
    <td mat-cell *matCellDef="let user">
      <button
        mat-raised-button
        color="accent"
        *ngIf="user.isAdmin === true"
        (click)="toggleAdminRight(user)"
      >
        ADMIN
      </button>
      <button
        mat-stroked-button
        color="accent"
        *ngIf="user.isAdmin === false"
        (click)="toggleAdminRight(user)"
      >
        USER
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NAME</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>EMAIL</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <ng-container matColumnDef="newsletter">
    <th mat-header-cell *matHeaderCellDef>Newsletter</th>
    <td mat-cell *matCellDef="let user">
      <button
        mat-raised-button
        color="accent"
        *ngIf="user.isSubscribedToNewsLetter === false"
        (click)="updateNewsletter(user)"
      >
        Subscribe
      </button>
      <button
        mat-stroked-button
        color="accent"
        *ngIf="user.isSubscribedToNewsLetter === true"
        (click)="updateNewsletter(user)"
      >
        Unsubscribe
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user">
      <button mat-mini-fab color="warn" (click)="delete(user)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

