.form-control {
    width: 400px;
}

.search {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
}

.onerow {
    display: flex;
}



img {
    size: 100px;
}