<mat-toolbar>
    <p class="title">Hello {{getCurrentUserName()}} - Please drink <a href="https://responsibledrinking.eu/"> responsibly</a>!</p>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/shopping-cart">
            <mat-icon>local_drink</mat-icon>
            <span>Add new beer</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>supervised_user_circle</mat-icon>
            <span>Update users</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Log Off</span>
        </button>
    </mat-menu>
</mat-toolbar>